@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Zarządzaj swoimi listami!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lista #1</h2>
    </div>
    <div class="col-md-4">
        <h2>Lista #2</h2>
    </div>
    <div class="col-md-4">
        <h2>Lista #2</h2>
    </div>
</div>

@section menu{
    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
    <li>@Html.ActionLink("Informacje", "About", "Home")</li>
    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
    <li>@Html.ActionLink("Logowanie", "Login", "Home")</li>
    <li>@Html.ActionLink("Rejestracja", "Register", "Home")</li>
}