@model Pack4Travel.Models.equipements

@{
    ViewBag.Title = "Details of";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <span class="btn btn-info space">
            @Html.ActionLink("EDYTUJ", "Edit", new { id = Model.idEquipement }, new { @class = "font-white" })
        </span>
        <span class="btn btn-info space">

            @Html.ActionLink("DRUKUJ DO PDF", "PrintDetails", new { id = Model.idEquipement }, new { @class = "font-white" })
        </span>
        <span class="btn btn-info space">

            @Html.ActionLink("POWRÓT", "Index", null, new { @class = "font-white" })
        </span>

    </div>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading">
                @Html.DisplayFor(model => model.equipementName)
            </li>
            @*@Html.Partial("_TagsPartial")*@
            @foreach (var i in Model.items)
            {
                <li class="list-group-item">

                    @Html.DisplayFor(model => i.itemName)
                </li>
            }
        </ul>
    </div>



    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading">
                OCENA LISTY
            </li>
            <table>
                <tr>
                    <td class="col-md-1">
                        @Html.ActionLink("★★★★★", "Rate", new { id = Model.idEquipement, rate = 5 })
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(model => model.five_stars)
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1">
                        @Html.ActionLink("★★★★", "Rate", new { id = Model.idEquipement, rate = 4 })
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(model => model.four_stars)
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1">
                        @Html.ActionLink("★★★", "Rate", new { id = Model.idEquipement, rate = 3 })
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(model => model.three_stars)
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1">
                        @Html.ActionLink("★★", "Rate", new { id = Model.idEquipement, rate = 2 })
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(model => model.two_stars)
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1">
                        @Html.ActionLink("★", "Rate", new { id = Model.idEquipement, rate = 1 })
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(model => model.one_star)
                    </td>
                </tr>
            </table>
        </ul>
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading">
                TAGI
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <span class="btn btn-info space">
                @Html.ActionLink("EDYTUJ", "Edit", new { id = Model.idEquipement }, new { @class = "font-white" })
            </span>
            <span class="btn btn-info space">

                @Html.ActionLink("DRUKUJ DO PDF", "PrintDetails", new { id = Model.idEquipement }, new { @class = "font-white" })
            </span>
            <span class="btn btn-info space">

                @Html.ActionLink("POWRÓT", "Index", null, new { @class = "font-white" })
            </span>

        </div>
    </div>

