@model Pack4Travel.Models.equipements

@{
    ViewBag.Title = "Details of";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2">
        <h2>Details</h2>
        <h4>@Html.DisplayFor(model => model.equipementName)</h4>
        @Html.Partial("_TagsPartial")
    </div>
    <div class="col-md-2">
        <dl class="dl-horizontal">
            <dt>
                
                @Html.ActionLink(Html.DisplayNameFor(model => model.five_stars).ToHtmlString(), "Rate", new { id = Model.idEquipement, rate = 5 })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.five_stars)
            </dd>

            <dt>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.four_stars).ToHtmlString(), "Rate", new { id = Model.idEquipement, rate = 4 })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.four_stars)
            </dd>

            <dt>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.three_stars).ToHtmlString(), "Rate", new { id = Model.idEquipement, rate = 3 })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.three_stars)
            </dd>

            <dt>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.two_stars).ToHtmlString(), "Rate", new { id = Model.idEquipement, rate = 2 })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.two_stars)
            </dd>

            <dt>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.one_star).ToHtmlString(), "Rate", new { id = Model.idEquipement, rate = 1 })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.one_star)
            </dd>
        </dl>
    </div>
</div>

<div class="row">
   @foreach(var i in Model.items)
   {
       @Html.DisplayFor( model => i.itemName )
   }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEquipement }) |
    @Html.ActionLink("Back to List", "Index")
    
</p>
