@model IEnumerable<Pack4Travel.Models.equipements>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">

@foreach (var item in Model.Where(x => x.privateStatus != "Y"))
{
    <div class="col-md-4">
        <span>@Html.DisplayNameFor(model => model.equipementName): @Html.DisplayFor(modelItem => item.equipementName)</span><br />
        <span>@Html.DisplayFor(modelItem => item.average)</span><br />
        <span>@Html.ActionLink("Edit", "Edit", new { id = item.idEquipement }) |
            @Html.ActionLink("Details", "Details", new { id = item.idEquipement }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idEquipement }) |
            @Html.ActionLink("Fork", "Fork", new { id = item.idEquipement })
        </span>   
    </div>
}

</div>